{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Login | {{block.super}}
{% endblock title %}

{% block conteudo %}
 <div class="box-parent-login">
                        <div class="well bg-white box-login">
                            <h1 class="text-center">Login</h1>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                   
                                </div>
                                <div class="col-md-4">
                                    <form role="form" method="POST">
                                    {% csrf_token %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger"> 
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                        <fieldset>
                                           
                                            <div class="form-group ls-login-user {% if form.username.errors %} has-error {% endif%}">
                                                <label for="{{form.username.auto_id}}" >{{form.username.label}}</label>
                                                {% render_field form.username class="form-control" %}
                                                {% for error in form.username.errors %}
                                                    <div class="alert alert-danger"> 
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                    
                                            <div class="form-group ls-login-password {% if form.password.errors %} has-error {% endif%}">
                                                <label for="{{form.password.auto_id}}">{{form.password.label}}</label>
                                                {% render_field form.password class="form-control" %}
                                                {% for error in form.password.errors %}
                                                    <li class='errorlist'><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                            </div>
                                    
                                            <a href="#" class="ls-login-forgot">Esqueci minha senha</a>
                                    
                                            <input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block">
                                            <p class="txt-center ls-login-signup">Não possui Cadastro?
                                                <a href="#">Cadastre-se agora</a>
                                            </p>
                                    
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock conteudo %}


