{% extends 'base.html' %}

{% load static %}

{% block title %}
Entrar | {{block.super}}
{% endblock  %}

{% block conteudo %}
                    <div class="box-parent-login">
                        <div class="well bg-white box-login">
                            <h1 class="text-center">Login</h1>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                   
                                </div>
                                <div class="col-md-4">
                                    <form role="form">
                                        <fieldset>
                                    
                                            <div class="form-group ls-login-user">
                                                <label for="userLogin" >Usuário</label>
                                                <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
                                            </div>
                                    
                                            <div class="form-group ls-login-password">
                                                <label for="userPassword">Senha</label>
                                                <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
                                            </div>
                                    
                                            <a href="#" class="ls-login-forgot">Esqueci minha senha</a>
                                    
                                            <input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block">
                                            <p class="txt-center ls-login-signup">Não possui Cadastro?
                                                <a href="#">Cadastre-se agora</a>
                                            </p>
                                    
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                
                                </div>
                            </div>
                        </div>
                    </div>
 {% endblock conteudo %}
                     
                   
        