{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Carrinho | {{block.super}}
{% endblock title %}

{% block conteudo %}
<div id="ajax">
<h3 class="text-center">Meu Carrinho</h3>
                            {{lista_de_ids}}
                    <!-- botoes e opções de cima -->
                    <div class="row float-right">
                        <div class="col-md-12  ">
                            <a href="{% url 'catalogo:produto_lista' %}" class="btn btn-info" title="">Comprar Mais</a>
                        </div>
                       
                    </div>
                    <br>
                    <br>
                    <!--  table listagem de itens -->
                    <div class="row ">
                        <table class="table table-bordered ml-4" style="width: 95%">
                           <tr class="text-white " style="background-color: #204d74">
                                <td></td> 
                                <td>Produto</td> 
                                <td>Valor R$</td> 
                                <td>X</td> 
                                <td>Sub Total R$</td> 
                                <td></td> 
                                        
                            </tr>
                            {% for carrinho in produtos %}
                            <tr>
                                 <td style="display:none">{{carrinho.id}}</td>       
                                <td> <img src="assets/imagens/calca02.jpg" width="80px" height="80px" alt="calça"> </td>
                                <td> {{carrinho.produto}}</td>
                                <td>  {{carrinho.preco}}</td>
                                <td> {{carrinho.quantidade}} </td>
                                <td>  {{carrinho.total}}</td>
                                <td> 
                                    <form name="" method="post" action="{% url 'core:remove'%}" novalidate>
                                        {% csrf_token %}
                                        <input type="hidden" name="acao" value="excluir"> 
                                        <button type="button" class="btn btn-danger btn-sm remover"> Excluir </button>
                                    </form>
                                </td>
                                        
                                        
                            </tr>
                            {% endfor %}
                        </table>           
                    </div><!-- fim da listagem itens -->
                    <!--  bloco frete -->
                    <div class="row" id="dadosfrete">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                        <!-- campos para tratar  do  frete -->
                            <input type="hidden" name="peso_frete" id="peso_frete" value="{$PESO}" class="form-control " readonly>
                            <input type="text" name="cep_frete" class="form-control" id="cep_frete" value="" placeholder="digite seu cep" >
                            <input type="hidden" name="frete_valor" id="frete_valor" value="0">
                        </div> 
                        <div class="col-md-4">
                            <!-- botão frete -->
                            <button class="btn btn-outline-warning btn-block" id="buscar_frete"> <i class="glyphicon glyphicon-send"></i> Calcular Frete </button>
                        </div>  
                    </div><br><hr>

                    <!-- botoes de baixo e valor total -->
                    <div class="row " >
                        <div class="col-md-4 text-right"></div>
                        <div  class="col-md-3 text-right text-danger ">
                            <span>Total: R$</span><span id="total" >{{total}}</span>
                        </div>
                        <!-- botão de limpar-->
                        <div class="col-md-4 ">
                            <form name="limpar" method="post" action="{% url 'core:remove' %}">
                                    {% csrf_token %}
                                <input type="hidden" name="acao" value="limpar">
                                <!--<input type="hidden" name="pro_id" value="">-->
                                <button class="btn btn-danger btn-block"> <i class="glyphicon glyphicon-trash"></i> Limpar Tudo</button>
                                <br>
                            </form>
                            <form name="pedido_confirmar" id="pedido_confirmar" method="post" action="{$PAG_CONFIRMAR}">
                                <span id="frete"></span>
                                <button class="btn btn-success btn-block" type="submit">  <i class="glyphicon glyphicon-ok"></i> Confirmar Pedido </button>
                            </form>
                        </div>
                                <!-- botão finalzar -->
                    </div>
                    <br><hr>
                </div><!-- Fim Conteudo Central-->
</div>                  
{% endblock conteudo %}
{% block domready %}

let lista_de_ids = {{ lista_de_ids }} 
 $("#ajax").on("click", ".remover", function() {
    console.log("entrou")
    let form = $(this).parent()
      let tr = $(form).parent().parent()
      let ind = $(tr).index()
      let id = lista_de_ids[ind-1]
      $(form).append("<input type='hidden' name='pro_id' value='" + id + "'>")
      let url = $(form).attr('action')
      let formData = $(form).serializeArray()
      console.log(formData)
      console.log(lista_de_ids)
      $.post(url,formData, function(resultado) {
         $(tr).fadeTo('slow', 0.3, function() {
            $(this).remove()
            lista_de_ids.splice(ind-1, 1)
            $("#total").text({{total}})
            console.log(resultado)
         })
      })
   })
  
{% endblock %}