{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Contato | {{block.super}}
{% endblock title %}

{% block conteudo %}
<h3 class="text-center">Meu Carrinho</h3>
                            
                    <!-- botoes e opções de cima -->
                    <div class="row float-right">
                        <div class="col-md-12  ">
                            <a href="{% url 'catalogo:produto_lista' %}" class="btn btn-info" title="">Comprar Mais</a>
                        </div>
                       
                    </div>
                    <br>
                    <br>
                    <!--  table listagem de itens -->
                    <div class="row ">
                        <table class="table table-bordered ml-4" style="width: 95%">
                           <tr class="text-white " style="background-color: #204d74">
                                <td></td> 
                                <td>Produto</td> 
                                <td>Valor R$</td> 
                                <td>X</td> 
                                <td>Sub Total R$</td> 
                                <td></td> 
                                        
                            </tr>
                            <tr>
                                        
                                <td> <img src="assets/imagens/calca02.jpg" width="80px" height="80px" alt="calça"> </td>
                                <td>  Calça Jeans </td>
                                <td>  10,00</td>
                                <td> 1  </td>
                                <td>  10,00 </td>
                                <td> 
                                    <form name="" method="post" action="">
                                        <input type="hidden" name="pro_id" value="#">    
                                        <input type="hidden" name="acao" value="del">    
                                                
                                        <button class="btn btn-danger btn-sm"> Excluir </button>
                                    </form>
                                </td>
                                        
                                        
                            </tr>
                        </table>           
                    </div><!-- fim da listagem itens -->
                    <!--  bloco frete -->
                    <div class="row" id="dadosfrete">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                        <!-- campos para tratar  do  frete -->
                            <input type="hidden" name="peso_frete" id="peso_frete" value="{$PESO}" class="form-control " readonly>
                            <input type="text" name="cep_frete" class="form-control" id="cep_frete" value="" placeholder="digite seu cep" >
                            <input type="hidden" name="frete_valor" id="frete_valor" value="0">
                        </div> 
                        <div class="col-md-4">
                            <!-- botão frete -->
                            <button class="btn btn-outline-warning btn-block" id="buscar_frete"> <i class="glyphicon glyphicon-send"></i> Calcular Frete </button>
                        </div>  
                    </div><br><hr>

                    <!-- botoes de baixo e valor total -->
                    <div class="row " id="total" >
                        <div class="col-md-4 text-right"></div>
                        <div class="col-md-4 text-right text-danger ">
                            <h4>Total : R$ 10,00</h4>
                        </div>
                        <!-- botão de limpar-->
                        <div class="col-md-4 ">
                            <form name="limpar" method="post" action="">
                                <input type="hidden" name="acao" value="limpar">
                                <input type="hidden" name="pro_id" value="1">
                                <button class="btn btn-danger btn-block"> <i class="glyphicon glyphicon-trash"></i> Limpar Tudo</button>
                                <br>
                            </form>
                            <form name="pedido_confirmar" id="pedido_confirmar" method="post" action="{$PAG_CONFIRMAR}">
                                <span id="frete"></span>
                                <button class="btn btn-success btn-block" type="submit">  <i class="glyphicon glyphicon-ok"></i> Confirmar Pedido </button>
                            </form>
                        </div>
                                <!-- botão finalzar -->
                    </div>
                    <br><hr>
                </div><!-- Fim Conteudo Central-->  
{% endblock conteudo %}

