{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Contato | {{block.super}}
{% endblock title %}

{% block conteudo %}
<div class="container">
    <div class="row">

        <div class="col-md-12 ">
            {% if success  %}
                <div class="alert alert-success">Mensagem Enviada com Sucesso</div>
            {% else %}
                    
            {% endif %}
            <form class="form-horizontal ml-5" id="frmcontatoazul" action="" method="POST">
                <fieldset>

                    
                    <legend>Contato</legend>
                    {% csrf_token %}
                    {% for field in form %}

                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label class="col-md-4 control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="col-md-8">
                                {% render_field field class='form-control'%}
                                {% for error in field.errors %}
                                    <span class="help-block"></span>
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}
                    
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btnenviar"></label>
                        <div class="col-md-8">
                            <button id="btnenviar" name="btnenviar"
                                class="btn btn-primary btn-lg btn-block">Enviar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>

    </div>
</div>
{% endblock conteudo %}