{% extends 'base.html' %}
{% load static %}

{% block title %}
Contato | {{block.super}}
{% endblock title %}

{% block conteudo %}
<div class="container">
    <div class="row">

        <div class="col-md-12 ">

            <form class="form-horizontal ml-5" id="frmcontatoazul" action="envio">
                <fieldset>

                   
                    <legend>Contato</legend>
                    {% for field in form %}

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="col-md-8">
                                {{ field }}
                            </div>
                        </div>

                    {% endfor %}
                    
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btnenviar"></label>
                        <div class="col-md-8">
                            <button id="btnenviar" name="btnenviar"
                                class="btn btn-primary btn-lg btn-block">Enviar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>

    </div>
</div>
{% endblock conteudo %}