{% extends "Dashboard/base.html" %}

{% load static %}

{% block titulo %}
    Cadastro de Produtos 
{% endblock %}

{% block conteudo %}
    


                  <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title" align="center" >{{ produto }}</h3>
                            
                        <div class="table-responsive">
                           <table class="table">
                                 <thead>
                                    <tr>
                                       <th>Categoria</th>
                                       <th>Nome</th>
                                       <th>Preço</th>
                                       <th>Descrição</th>
                                       <th>Ação</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>{{ produto.category.name }}</td>
                                       <td>{{ produto.name }}</td>
                                       <td>{{ produto.price }}</td>
                                       <td>{{ produto.description }}</td>
                                       <td>
                                          
                                             <div class="col-lg-10 offset-lg-2">
                                                {% csrf_token %}
                                                <a id="botao_editar" href="{% url 'Dashboard:edita_produto' produto.id %}" class="btn btn-primary">
                                             
                                                   
                                                      Editar
                                                   
                                                </a>
                                             </div>
                                          
                                       </td>
                                    </tr>
                                        
                                 </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
                <!-- /.row -->
               
{% endblock %}





