{% extends 'base.html' %}
{% load static %}

{% block title %}
   {% if categoria %}{{categoria}}{% else %}Produtos{% endif %} | {{block.super}}
{% endblock title %}

{% block conteudo %}
{% if not categoria %}
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
     
      
      <div class="carousel-inner">
         <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'assets/imagens/banner.jpg' %}" alt="Primeiro Slide">
         </div>
         <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'assets/imagens/banner.jpg' %}" alt="Segundo Slide">
         </div>
         <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'assets/imagens/banner.jpg' %}" alt="Terceiro Slide">
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Próximo</span>
      </a>
   </div>
   {% endif %}
   <br>
<h2 class="text-center">{% if not categoria %} Produtos {% else %} {{categoria}}{% endif %}</h2>
                     <hr>
                     <div class="row" id="pularliha">

                        {% for produto  in produtos  %}
                        <div class="col-md-4 pb-2">
                           <div class="img-thumbnail ">
                              <a href="{{ produto.get_absolute_path }}">
                                 <img  class="rounded mx-auto d-block" src="{% if produto.main_image == '' %}{% static 'assets/imagens/produto.jpg' %} {% else %} {% static '' %}{{ produto.main_image }} {% endif %}" width="200" height="200"  alt=""> 
                                 
                                 <div class="caption">
                                    <h4 class="text-center ">{{produto.name}}</h4>
                                    <h3 class="text-center text-danger"><i class="fas fa-tag"></i> R${{produto.price}}</h3>
                                    
                                 </div><!-- fim da div caption -->    
                              </a>
                           </div>
                        </div> <!-- fim da <li> col-md-4 -->
                        {% endfor %}

                        

                       
                     </div>

                     {% if produtos %}
                        <nav aria-label="Navegação de página" class="pt-3"  >
                           <ul class="pagination justify-content-center">
                              {% if produtos.has_previous %}
                                 <li class="page-item"><a class="page-link" href="?page={{ produtos.previous_page_number }}">Anterior</a></li>
                              {% endif %}
                              
                              
                              {% for x in produtos.paginator.page_range %}
                                    <li class="page-item {% if x == produtos.number %}active{% endif %}"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
                                 {% endfor %}
                                 
                           
                                 
                              {% if produtos.has_next %}
                                 <li class="page-item"><a class="page-link" href="?page={{ produtos.next_page_number }}">Próximo</a></li>
                              {% endif %}    
                           </ul>
                        </nav>
                     {% endif %}
                  </div>
{% endblock conteudo %}